<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <div>
        <form action="/create" method="POST">
            <div>
                <input type="textarea" rows="4" class="description" placeholder="Description...">
            </div>
            <div>
                <input type="number" class="price" step="0.01" placeholder="Price...">
            </div>
            <div>
                <input type="button" value="Submit" class="submit">
            </div>
        </form>
    </div>
</body>
</html>