<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/order.css">
    <title>orders</title>
</head>
<body>
    <h1>Welcome to UTA Mesivta of Kiryes Joel</h1>
    <div class="logout-div">
		<form action="/logout" method="GET">
			<p class="logout-p">Click here to logout</p>
			<button type="submit" class="logout-btn">Logout</button>
		</form>
	</div>
    <div class="hello">
    <% for(let user of users){ %>
    <div>
        <h2 class="hello-h2">Hello, <span class="hello-name"><%= user.username %></span></h2>
        <h3 class="hello-h3">You are assigned to building <span class="hello-building"><%= user.building %></span></h3>
    </div>
        <% } %>
    </div>
     <div class="create-update">
        <div class="text-center">
            <h3 class="create-h3">Create new vendor</h3>
            <form action="/createVendor" method="POST">
                <div>
                    <input type="text" name="vendorname" class="v-details" placeholder="Username...">
                </div>
                <div>
                    <input type="text" name="companyname" class="v-details" placeholder="Company Name...">
                </div>
                <div>
                    <input type="email" name="vendoremail" class="v-details" placeholder="E-Mail...">
                </div>
                <div>
                    <input type="tel" name="phone" class="v-details" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone #...">
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit-v">
                </div>
            </form>
        </div>
        <div class="text-center">
            <form action="/updateVendor" method="POST">
                <h3 class="create-h3">Choose a vendor to create an order</h3>
                    <input type="text" list="vendors" name="vendors" class="vendors" placeholder="Click to choose..." required>
                        <datalist id="vendors" aria-required="true">
                            <% for(let vendor of vendors){ %> 
                                <option value="<%= vendor.companyname %>">
                            <% } %>
                        </datalist>
            <div>
            <input type="submit" value="Submit" class="submit">
        </div>
        </form>
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>