body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 238, 228);
}

h1{
    text-align: center;
    font-weight: bold;
    margin-top: 75px;
}

h3{
    text-align: center;
    margin-top: 30px;
}

.go-back-div{
    float: left;
    display: block;
    margin: auto;
    width: 150px;
    height: 70px;
    background-color: rgb(219, 210, 210);
    border-radius: 10px;
    margin-left: 10px;
}

.go-back-btn{
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(84, 84, 246);
    color: aliceblue;
    margin-top: 20px;
}

.print_btn_div{
    float: right;
    margin-right: 100px;
}

.print_btn{
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
}

.print_btn:hover{
    background-color: rgb(245, 238, 228);;
    color: blue;
    font-weight: bold;
    border-color: blue;
}

.orderDiv{
    display: block;
    margin: auto;
    background-color: rgb(243, 218, 186);
    border-radius: 10px;
    padding: 15px;
    width: 60%;
    margin-top: 100px;
}

.items-div{
    display: block;
    margin: auto;
    width: 90%;
    background-color: rgb(222, 208, 208);
    border-radius: 10px;
    border-radius: 5px;
    padding: 10px 0 5px 0;
}

.myTable{
    display: block;
    margin: auto;
    padding: 10px;
}

th{
    padding-bottom: 10px;
}

.th-order-num{
    width: 120px;
}

.th-amount{
    width: 120px;
}

.th-description{
    width: 400px;
}

.th-price{
    width: 120px;
}

.th-ttl-price{
    width: 120px;
}

.th-date{
    width: 160px;
}

.TR:nth-child(odd){
    background-color: rgb(206, 194, 194);
}

.td-amount{
    width: 120px;
    padding-left: 10px;
    border-left: rgb(243, 218, 186) solid 2px;
    border-radius: 5px;
}

.td-description{
    width: 400px;
    padding-left: 10px;
    border-left: rgb(243, 218, 186) solid 2px;
    border-radius: 5px;
}

.td-price{
    width: 120px;
    padding-left: 10px;
    border-left: rgb(243, 218, 186) solid 2px;
    border-radius: 5px;
}

.td-ttl-price{
    width: 120px;
    padding-left: 10px;
    border-left: rgb(243, 218, 186) solid 2px;
    border-radius: 5px;
}

.td-date{
    width: 160px;
    padding-left: 10px;
    border-left: rgb(243, 218, 186) solid 2px;
    border-radius: 5px;
}

.head-desc{
    font-weight: bold;
}

.main-ttl-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.total-amount-div{
    margin-top: 10px;
    background-color: rgb(243, 230, 213);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px 0 10px;
}

.total-price-div{
    margin-top: 10px;
    background-color: rgb(243, 230, 213);
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 10px 0 10px;
}

.sub-total-div{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 40%;
    background-color: rgb(243, 230, 213);
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
}

.total-amount{
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;
    padding: 7px;
}

.total-price{
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;
    padding: 7px;
}

.sub-total{
    font-weight: bold;
    font-size: xx-large;
    margin-left: 10px;
    padding: 7px;
}

.total-amount-p{
    text-align: center;
}

.total-price-p{
    text-align: center;
}

.sub-total-p{
    text-align: center;
    font-size: large;
}