body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 238, 228);
}

h1{
    text-align: center;
    font-weight: bold;
    margin-top: 75px;
}

h3{
    text-align: center;
    margin-top: 30px;
}

.main-div{
    display: block;
    margin: auto;
    width: 60%;
}

.go-back-div{
    float: left;
    display: block;
    margin: auto;
    width: 150px;
    height: 70px;
    background-color: rgb(219, 210, 210);
    border-radius: 10px;
    margin-left: 10px;
}

.go-back-btn{
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(84, 84, 246);
    color: aliceblue;
    margin-top: 20px;
}

.print_btn_div{
    float: right;
    margin-right: 100px;
    width: 10%;
    background-color: rgb(219, 210, 210);
    border-radius: 10px;
    padding: 15px;
}

.print_btn{
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
    display: block;
    margin: auto;
}

.print_btn:hover{
    background-color: rgb(245, 238, 228);;
    color: blue;
    font-weight: bold;
    border-color: blue;
}

.between{
    float: right;
    background-color: rgb(183, 178, 178);
    border-radius: 5px;
    width: 400px;
    padding: 10px;
  }

  .select-p{
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  .select-btn{
    display: block;
    margin: auto;
    margin-top: 15px;
    border-radius: 7px;
    width: 150px;
    background-color: rgb(183, 178, 178);
    border-color: blue;
    color: blue;
    font-weight: bold;
  }

  .select-btn:hover{
    background-color: blue;
    color: aliceblue;
  }

  .label{
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }

  .from-to{
    display: block;
    margin: auto;
    font-size: medium;
    width: 275px;
    height: 40px;
    border-radius: 7px;
  }

.orderDiv{
    display: block;
    margin: auto;
    background-color: rgb(243, 218, 186);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin-top: 100px;
}

.items-div{
    display: block;
    margin: auto;
    width: 85%;
    background-color: rgb(222, 208, 208);
    border-radius: 10px;
    border-radius: 5px;
    padding: 15px 0 5px 0;
}

.ol{
    align-items: center;
    font-size: larger;
}

.li{
    text-align: center;
    border-radius: 5px;
    width: 95%;
}

.li:nth-child(odd){
    background-color: rgb(206, 194, 194);;
}

.date-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span{
    font-weight: bold;
}

.order-num-p{
    margin-right: 20px;
}

.order-price-p{
    margin-left: 20px;
}

.total-div{
    margin-top: 10px;
    margin-left: 74%;
    background-color: rgb(243, 230, 213);
    border-radius: 5px;
}

.sub-total{
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;
}

.sub-total-p{
    text-align: center;
}