body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 238, 228);
}

h1{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

h2{
    text-align: center;
    margin-top: 35px;
}

h3{
  margin-top: 10px;
}

.companyname{
    font-weight: bold;
}

.between-divs{
  float: right;
}

.between{
  background-color: rgb(183, 178, 178);
  border-radius: 5px;
  margin-right: 40px;
  width: 400px;
  padding: 7px 0 10px 0;
  border: gray solid 1px;
}

.select-p{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.select-btn{
  display: block;
  margin: auto;
  margin-top: 15px;
  border-radius: 7px;
  width: 150px;
  background-color: rgb(183, 178, 178);
  border-color: blue;
  color: blue;
  font-weight: bold;
}

.select-btn:hover{
  background-color: blue;
  color: aliceblue;
}

.label{
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.from-to{
  display: block;
  margin: auto;
  font-size: medium;
  width: 275px;
  height: 40px;
  border-radius: 7px;
  padding-left: 3px;
  border: 0;
}

.from-to:focus{
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: large;
}

.between-items{
  background-color: rgb(183, 178, 178);
  border-radius: 5px;
  margin-right: 40px;
  width: 400px;
  padding: 7px 0 10px 0;
  margin-top: 40px;
  border: gray solid 1px;
}

.products{
  display: block;
  margin: auto;
  font-size: medium;
  width: 275px;
  height: 40px;
  border-radius: 7px;
  border: 0;
  padding-left: 3px;
}

.products:focus{
  outline: none;
}

.go-back{
    background-color: rgb(189, 186, 186);
    border: gray 1px solid;
    border-radius: 5px;
    width: 300px;
    height: 140px;
    margin-left: 50px;
    float: left;
}

.back-p{
    text-align: center;
    margin-top: 15px;
    font-size: large;
    font-weight: bold;
}

.back-vendor{
    background-color: rgb(210, 206, 206);
    color: blue;
    border-radius: 8px;
    border-color: blue;
    width: 150px;
    display: block;
    margin: auto;
    font-weight: bold;
}

.back-vendor:hover{
  background-color: blue;
    color: aliceblue;
}

.back{
    background-color: rgb(201, 223, 231);
    color: blue;
    margin-right: 10px;
    margin-left: -200px;
    font-weight: bold;
    font-size: x-large;
    float: right;
    border: blue solid 1px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.back:hover{
  background-color: blue;
  color: aliceblue;
}

.submit-update{
  background-color: rgb(201, 223, 231);
    color: blue;
    border-radius: 8px;
    border-color: blue;
    margin-left: 15px;
    width: 175px;
    font-weight: bold;
    font-size: larger;
}

.submit-update:hover{
    background-color: blue;
    color: aliceblue;
}

.create{
    background-color: rgb(209, 206, 206);
    display: block;
    margin: auto;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 35%;
    padding-bottom: 20px;
    border: 1px solid gray;
}

.submit-p{
  border-radius: 10px;
  background-color: rgb(209, 206, 206);
  color: blue;
  margin-top: 10px;
  font-weight: bold;
  font-size: x-large;
  width: 300px;
  height: 50px;
  border-color: blue;
}

.submit-p:hover{
  background-color: blue;
  color: aliceblue;
}

.upload{
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  width: 50%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.upload-input-div{
  display: block;
  margin: auto;
}

input[type="file"]{
  display: none;
}

.upload-input-lbl{
  display: inline-block;
  border: 2px dashed blue;
  cursor: pointer;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  padding-top: 5px;
  background-color: rgb(213, 238, 246);
  font-weight: bold;
  color: blue;
}

.upload-input-lbl:hover{
  background-color: rgb(57, 57, 254);
  color: aliceblue;
}

.upload-input{
  margin-left: 25%;
  margin-bottom: 5px;
}

.filename-p{
  display: none;
  margin-top: 5px;
}

.filename{
  font-weight: bold;
}

.upload-submit-btn{
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
  color: blue;
  font-weight: bold;
  border-color: blue;
  width: 30%;
  margin-top: 5px;
}

.upload-submit-btn:hover{
  background-color: blue;
  color: aliceblue;
}

.uploadedItems{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.uploadedItemsModel{
  background-color: rgb(201, 223, 231);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  border-radius: 10px;
}

.uploadListHeader{
  margin-bottom: 25px;
}

.excelDataDesc{
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  width: 45%;
  border: none;
  background-color: rgb(229, 241, 246);
}

.excelDataDesc:focus{
  outline: none;
}

.excelDataQty{
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  width: 10%;
  border: none;
  background-color: rgb(229, 241, 246);
}

.excelDataQty:focus{
  outline: none;
}

.excelDataQtyZero{
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  width: 10%;
  background-color: rgb(229, 241, 246);
  border-color: red;
}

.excelDataPrice{
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  width: 10%;
  border: none;
  background-color: rgb(229, 241, 246);
}

.excelDataPrice:focus{
  outline: none;
}

.excelDataPriceZero{
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  width: 10%;
  background-color: rgb(229, 241, 246);
  border-color: red;
}

.uploadListSubmitBtn{
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgb(201, 223, 231);
  border-color: blue;
  font-weight: bold;
  width: 25%;
  color: blue;
}

.uploadListSubmitBtn:hover{
  background-color: blue;
  color: aliceblue;
}

.upload-p-div{
  display: flex;
  align-items: flex-end;
}

.descP{
  font-weight: bold;
  margin-left: 17%;
}

.qtyP{
  font-weight: bold;
  margin-left: 36%;
}

.priceP{
  font-weight: bold;
  margin-left: 8%;
}

.items {
    background-color: rgb(209, 206, 206);
    display: block;
    margin: auto;
    width: 1220px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 27%;
    border: 1px solid gray;
    padding: 20px;
}

.description{
    border-radius: 5px;
    width: 500px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.per-cs{
    border-radius: 5px;
    width: 500px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.price{
    border-radius: 5px;
    width: 500px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, td{
  border: rgb(92, 92, 242) solid 1px;
  background-color: rgb(176, 240, 219);
  margin-top: 15px;
}

.thead-num{
  width: 100px;
}

.thead-amount{
  width: 100px;
}

.thead-description{
  width: 700px;
}

.thead-qty{
  width: 100px;
}

.thead-price{
  width: 100px;
}

.thead-ttl-price{
  width: 100px;
}

.tbl-num{
  width: 100px;
  text-align: center;
}

.tbl-amount{
  width: 100px;
  background-color: rgb(176, 240, 219);
  border: rgb(92, 92, 242) solid 1px;
}

.tbl-description{
  width: 700px;
}

.tbl-qty{
  width: 100px;
}

.tbl-price{
  width: 100px;
}

.tbl-id{
  border: 0;
}

.tbl-description-input{
  background-color: rgb(176, 240, 219);
  border: none;
  float: left;
  margin-left: 7px;
  width: 285px;
}

.tbl-description-input:focus{
  outline: none;
}

.tbl-amount-input{
  background-color: rgb(176, 240, 219);
  border: 0;
  width: 100px;
  padding-left: 10px;
}

.tbl-amount-input:focus{
  outline: none;
}

.tbl-qty-input{
  background-color: rgb(176, 240, 219);
  border: 0;
  width: 35px;
  float: left;
  margin-left: 2px;
}

.tbl-qty-input:focus{
  outline: none;
}

.tbl-price-input{
  background-color: rgb(176, 240, 219);
  border: 0;
  width: 60px;
  text-align: center;
  float: left;
}

.tbl-rowprice-input{
  background-color: rgb(176, 240, 219);
  border: 0;
  width: 60px;
  float: left;
  padding-left: 10px;
}

.tbl-rowprice-input:focus{
  outline: none;
}

.prefix {
  margin-left: -47px;
  margin-top: 1px;
  position: absolute;
}

.tbl-price-input:focus{
  outline: none;
}

.total-price-input{
  background-color: rgb(217, 247, 247);
  border-radius: 10px;
  height: 35px;
  width: 250px;
  margin-left: 10px;
  padding-left: 5px;
}

.total-boxes-input{
  background-color: rgb(217, 247, 247);
  border-radius: 10px;
  height: 35px;
  width: 250px;
  margin-left: 10px;
  padding-left: 5px;
}

.total-price-lbl{
  margin-left: 45px;
  font-weight: bold;
}

.total-boxes-lbl{
  font-weight: bold;
}

.submit-order{
  background-color: rgb(245, 238, 228);
  color: blue;
  border-radius: 15px;
  font-weight: bold;
  font-size: larger;
  width: 400px;
  height: 50px;
  margin-top: 30px;
  border-color: blue;
  align-items: center;

}

.submit-order:hover{
  background-color: blue;
  color: aliceblue;
}

.update-h3{
  font-weight: bold;
  font-size: 40px;
}

.update-cancel{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 55px;
}

.update-desc-div{
  background-color: rgb(154, 202, 250);
  height: 55px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 7px;
  padding: 10px;
}

.update-qty-div{
  background-color: rgb(154, 202, 250);
  height: 55px;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 7px;
  padding: 10px;
}

.update-price-div{
  background-color: rgb(154, 202, 250);
  height: 55px;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 7px;
  padding: 10px;
}

.update-desc{
  background-color: rgb(192, 218, 245);
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 215px;
  height: 35px;
}

.update-desc:focus{
  outline: none;
}

.update-qty{
  background-color: rgb(192, 218, 245);
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 45px;
  height: 35px;
}

.update-qty:focus{
  outline: none;
}

.update-price{
  background-color: rgb(192, 218, 245);
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 70px;
  height: 35px;
}

.update-price:focus{
  outline: none;
}

.update-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.update-modal-content{
  background-color: rgb(201, 223, 231);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  height: 200px;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein{
  from{
    margin-left: 100%;
  }
  to{
    margin-left: 30%;
  }
}

.update-modal-p{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.p-header{
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: rgb(245, 238, 228);
    border-color: rgb(245, 238, 228);
    text-decoration: underline;
}

.details{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.submit-order-div{
    margin-top: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

.modal-content{
    background-color: rgb(201, 223, 231);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    animation-duration: 5s;
    animation-name: slidein;
}

.modal-p{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.create-update {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(130, 125, 125, 0.4);
  }

  .text-center{
    background-color: rgb(201, 223, 231);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
    text-align: center;
    border-radius: 10px;
    height: 500px;
  }

  .delete-model {
    background-color: rgba(130, 125, 125, 0.4);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .delete-model-content{
    background-image: radial-gradient( lightblue 40%, rgb(247, 79, 79) );
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    text-align: center;
    border-radius: 10px;
    height: 400px;
}

  .dlt-h3{
    margin-top: 50px;
}

  .delete-btn{
    border: 0;
    float: left;
    background-color: rgb(201, 223, 231);
    color: red;
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
}

.form-dlt-btn{
  margin-top: 35px;
  background-color: red;
  color: rgb(244, 244, 233);
  border-radius: 5px;
  border-color: red;
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: large;
}

.form-dlt-btn:hover{
  color: red;
  background-color: lightblue;
}

.dlt-description{
  font-weight: bold;
  font-size: large;
}

.dlt-qty{
  font-weight: bold;
  font-size: large;
}

.dlt-price{
  font-weight: bold;
  font-size: large;
}

.dlt-description-p{
  margin-top: 55px;
  font-size: large;
}

.dlt-qty-p{
  font-size: large;
}

.dlt-price-p{
  font-size: large;
}

.delete-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.item-deleted-modal-content{
    background-image: radial-gradient(lightblue 40%, red);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    animation-duration: 5s;
    animation-name: slidein;
}

.delete-modal-p{
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.container{
  display: block;
  margin: auto;
}

.searchLabel{
  position: relative;
}

.searchLabel::before{
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 25px;
  margin-left: 5px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 24 24' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.searchInput{
  width: 800px;
  display: block;
  margin: auto;
  border-radius: 50px;
  height: 50px;
  background-color: rgb(235, 230, 230);
  border-color: blue;
  padding-left: 45px;
  font-weight: bold;
}

.searchInput:focus{
  outline-color: blue;
}

footer{
  text-align: center;
  font-size: x-small;
  margin-top: 20px;
}

.footer-span{
  font-weight: bold;
}